* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container {
  margin-bottom: 40px;
  width: 50%;
  background-color: wheat;

  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.question {
  width: 100%;
  padding: 10px 10px;
  background-color: rgb(132, 231, 231);
  /* border-start-start-radius: 8px;
  border-start-end-radius: 8px; */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-question {
}

.question-text {
  height: 0px;
  overflow: hidden;
  transition: all 1s;
}
.show-question .show-question-text {
  height: 96px;
  padding: 30px 0;
}
.show-question .show-btn {
  display: block;
}
.show-question .hide-btn {
  display: none;
}

.btn {
  background-color: rgb(132, 231, 231);
  border: none;
}
.btn:hover {
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 0.8s;
}
.btn-plus {
  background-color: rgb(132, 231, 231);
  font-size: 200%;
  display: block;
  color: black;
}
.btn-minus {
  background-color: rgb(132, 231, 231);
  font-size: 200%;
  display: none;
  color: red;
}
